# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
paper-dragon-front.vscode/*
paper-dragon-front!.vscode/extensions.json
paper-dragon-front.idea
paper-dragon-front.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Secrits
paper-dragon-api/credentials.json
paper-dragon-api/token.json

./export_files


